.storybook-tooltip {
    position: relative;
    cursor: pointer;
}

.storybook-tooltip-content {
    position: absolute;
    /* opacity: 0;
    visibility: hidden;
    */
    transition: opacity .3s ease-in-out;
    z-index: 2;
    word-break: break-all;
    padding: 8px 12px;
    border-radius: 8px;
}

.storybook-tooltip-content::after {
  /* after:absolute after:content-[''] after:border-base-100 after:border-8 after:border-solid */
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  /* change border-color to border-base-100 later */
  border-color: red;
}

/* top and bottom tooltip styles */
.storybook-tooltip--top .storybook-tooltip-content {
  /* bottom-full left-1/2 -translate-x-1/2 -translate-y-3 */
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -0.75rem);
}

.storybook-tooltip--top .storybook-tooltip-content::after {
  top: 100%;
  border-bottom-color: transparent;
}

.storybook-tooltip--bottom .storybook-tooltip-content {
  /* top-full left-1/2 translate-y-3 -translate-x-1/2  */
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0.75rem);
}

.storybook-tooltip--bottom .storybook-tooltip-content::after {
  bottom: 100%;
  border-top-color: transparent;
}

.storybook-tooltip--bottom .storybook-tooltip-content:after,
.storybook-tooltip--top .storybook-tooltip-content:after {
  /* after:border-x-transparent after:-translate-x-1/2 after:left-1/2 */
  border-left-color: transparent;
  border-right-color: transparent;
  transform: translateX(-50%);
  left: 50%;
}

/* right and left tooltip styles */

.storybook-tooltip--right .storybook-tooltip-content {
  left: 100%;
  top: 50%;
  transform: translate(0.75rem, -50%);
}

.storybook-tooltip--right .storybook-tooltip-content::after {
  right: 100%;
  border-left-color: transparent;
}

.storybook-tooltip--left .storybook-tooltip-content {
  right: 100%;
  top: 50%;
  transform: translate(-0.75rem, -50%);
}

.storybook-tooltip--left .storybook-tooltip-content::after {
  left: 100%;
  border-right-color: transparent;
}

.storybook-tooltip--right .storybook-tooltip-content:after,
.storybook-tooltip--left .storybook-tooltip-content:after {
  /* after:border-y-transparent after:-translate-y-1/2 after:top-1/2 */
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: translateY(-50%);
  top: 50%;
}
