@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 64 147 109;
        --primary-focus: 50 115 85;
        --primary-content: 196 222 210;
        --secondary: 163 206 233;
        --secondary-focus: 177 198 212;
        --secondary-content: 218 234 242;
        --accent: 134 128 121;
        --accent-focus: 166 153 141;
        --accent-content: 217 213 208;
        --neutral: 107 114 128;
        --neutral-focus: 76 81 91;
        --neutral-content: 156 161 170;
        --info: 143 196 229;
        --info-content: 220 237 247;
        --success: 20 184 166;
        --success-content: 182 233 227;
        --warning: 255 172 12;
        --warning-content: 255 229 180;
        --error: 230 98 75;
        --error-content: 247 206 199;
        --base-100: 209 211 216;
        --base-200: 245 245 245;
        --base-300: 22 23 26;
        --base-content: 238 239 240;
  }
  
  [data-theme='dark'] {
    --primary: 64 147 109;
    --primary-focus: 95 142 108;
    --primary-content: 57 71 65;
    --secondary: 68 114 141;
    --secondary-focus: 94 115 135;
    --secondary-content: 54 68 77;
    --accent: 97 101 102;
    --accent-focus: 89 86 85;
    --accent-content: 64 64 64;
    --neutral: 107 114 128;
    --neutral-focus: 160 165 174;
    --neutral-content: 59 63 70;
    --info: 132 181 212;
    --info-content: 102 139 163;
    --success: 67 198 184;
    --success-content: 14 131 118;
    --warning: 255 189 61;
    --warning-content: 181 122 9;
    --error: 235 129 111;
    --error-content: 163 70 53;
    --base-100: 76 81 91;
    --base-200: 22 23 26;
    --base-300: 245 245 245;
    --base-content: 45 48 54;
}
}

::-webkit-scrollbar {
    width: 4px;
    height: 6px
}

::-webkit-scrollbar-track {
    background: #919191;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #C0C0C0;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #C0C0C0;
}

/* to hide or show content based on the current theme */
[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
  display: none;
}