@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 4px;
    height: 6px
}

::-webkit-scrollbar-track {
    background: #919191;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #C0C0C0;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #C0C0C0;
}

/* to hide or show content based on the current theme */
[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
  display: none;
}